<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>
    {% if page -%}
    {{ page.title }} {{ page.description }}
    {%- endif %}
  </title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/default.min.css">
  {%- if styles -%}
    {% block styles %}
    {% endblock %}
  {%- endif %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  {% if header %}
  <header>
    {%- block header -%}
    {%- endblock %}
  </header>
  {% endif %}

  {%- block content -%}
  {%- endblock %}

  {% if footer %}
  <footer>
    {%- block footer -%}
    {%- endblock %}
  </footer>
  {% endif %}

  <!-- jQuery first, then Bootstrap JS. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>

</body>
</html>